/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */

html {
    font-size: 100%;
}

section {
    margin: 2rem;
}

#head,
#body,
#arm-left,
#arm-right,
#leg-left,
#leg-right {
    display: none;
}

#word-display {
    font-size: 3rem;
}