/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */

html {
    font-size: 100%;
}

section {
    margin: 2rem;
}

#head,
#body,
#arm-left,
#arm-right,
#leg-left,
#leg-right {
    display: none;
}

/* Typography */

body {
    font-family: 'Alata', sans-serif;
    background-color: #68b98f;
}

#word-display {
    font-size: 2.3rem;
    font-family: 'Fira Mono', monospace;
}

#output-message {
    font-size: 1.3rem;
}

#used-characters {
    height: 3rem;
    border: 2px solid black;
}

/* Main */

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

form {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 250px;
    margin: 0 auto;
}

input {
    margin: 0.5rem;
}

#letter {
    width: 4rem;
    padding: 0.2rem 0;
}

input[type="submit"] {
    border: 1px solid black;
    padding: 0.5rem 1rem;
    background-color: #021c1e;
    color: #fff;
}